.container__cartbegin {
  border-radius: 2rem;
  background-color: #f1faee;
  height: 30rem;
}

.container__cartbegin h1 {
  font-size: 4.5rem;
  text-align: center;
  padding: 3rem;
}

.container__cartbegin p {
  font-size: 2rem;
  text-align: center;
}

button {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  border: none;
  background-color: #1d3557;
  height: 5rem;
  width: 15rem;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  margin-top: 3rem;
}
button:hover {
  background-color: #e63946;
}
button:active {
  transform: scale(0.9);
}
