.container__cartInfo {
  border-radius: 2rem;
  background-color: #f1faee;
  height: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.container__cartInfo h1 {
  font-size: 4.5rem;
  text-align: center;
  padding: 3rem;
}

.container__cartInfo p {
  font-size: 2rem;
  text-align: center;
}

.container__cartInfo .container__datas {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.container__cartInfo .container__datas .data {
  border: 2px solid black;
  width: 30rem;
  border-radius: 10px;
  flex-grow: 1;
}
.container__cartInfo .container__datas .answer {
  padding: 2rem 0;
  flex-wrap: wrap;
  white-space: nowrap;
}

.container__cartInfo .container__datas .data .title {
  background-color: #e63946;
  font-weight: 600;
  border-radius: 5px 5px 0 0;
  color: #fff;
}

@media screen and (max-width: 650px) {
  .container__cartInfo .container__datas {
    width: 30rem;
  }
}
