.progress_steps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 5rem 0;
  height: 3rem;
  position: relative;
}
.progress_bar {
  width: 0%;
  height: 1.2rem;
  background-color: #e63946;
  position: absolute;
  z-index: -1;
}
.progress_steps::before {
  content: "";
  background-color: #f1faee;
  position: absolute;

  height: 1.2rem;
  width: 100%;

  z-index: -2;
}

.progress_step {
  background-color: #f1faee;
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
  height: 2rem;
  width: 2rem;
  padding: 1.3rem;
  border-radius: 50%;
  border: 0.5rem solid #f1faee;

  display: flex;
  justify-content: center;
  align-items: center;
}

.progress_step.step--active {
  border-color: #e63946;
}
.progress_step:nth-child(2) {
  transform: translateX(-10%);
}
.progress_step:last-child {
  transform: translateX(10%);
}
