.progress_steps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 50px 0;
  height: 30px;
  position: relative;
}
.progress_bar {
  width: 0%;
  height: 15px;
  background-color: #4263eb;
  position: absolute;
  z-index: -1;
}
.progress_steps::before {
  content: "";
  background-color: #dbe4ff;
  position: absolute;

  height: 15px;
  width: 100%;

  z-index: -2;
}

.progress_step {
  background-color: #f8f9fa;
  font-size: 1.5rem;
  height: 30px;
  width: 30px;
  padding: 20px;
  border-radius: 50%;
  border: 5px solid #dbe4ff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.progress_step.step--active {
  border: 5px solid #4263eb;
}
.progress_step:nth-child(2) {
  transform: translateX(-10%);
}
.progress_step:last-child {
  transform: translateX(10%);
}

@media screen and (max-width: 650px) {
  .progress_steps {
    flex-direction: column;
    height: 500px;
  }
  .progress_steps::before {
    width: 15px;
    height: 100%;
  }
  .progress_bar {
    height: 0%;
    width: 15px;
  }
  .progress_step:nth-child(2) {
    transform: translateY(-10%);
  }
  .progress_step:last-child {
    transform: translateY(10%);
  }
}
