.container_form {
  /* background-color: aqua; */
  width: 600px;
  border-radius: 50px;
  margin-top: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 650px) {
  .container_form {
    width: 90%;
  }
}
